*{
    padding: 5px;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    height: 40px;
    background-color: rgb(187, 53, 75);
}
header> nav> a{
    padding:10px 15px;
    background-color:rgba(0, 255, 255, 0.485);
    border-radius: 20px;
}